.sitename { grid-area: sitename; }
.profilesearch { grid-area: profilesearch; }
.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }

.sidenav { grid-area: sidenav; }
.textarea { grid-area: textarea; }

.sorthints { grid-area: sorthints; }
.tabplace{ grid-area: tabplace; }
.tabstyle{ grid-area: tabstyle; }

body {
  margin: 25px;
  max-width: 65em;
}

body [style="white-space: pre-line"] {
  margin-top: 0%;
}

.grid-container {
    display: grid;
    grid-template-areas:
      'sitename profilesearch' 
      'header header'
      'main main'
      'footer footer';
    gap: 15px;
    padding:10px;
}

.sort-container {
  display: grid;
  grid-template-areas:
    'tabplace sorthints'
    'tabstyle tabstyle';
}

.sitename a {
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'sidenav textarea';
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs label[for=tabwedding] {
  padding: 20px;
  font-weight: bold;
}

.tabs label[for=tabfuneral] {
  padding: 20px;
  font-weight: bold;
}

.tabs label[for=tabnew] {
  padding: 20px;
  font-weight: bold;
}

.tabs label[for=tabchange] {
  padding: 20px;
  font-weight: bold;
}

.tabs label[for=tabremove] {
  padding: 20px;
  font-weight: bold;
}

.tabs .tab {
  width: 100%;
  padding: 20px;
  background: white;
  order: 1;
  display: none;
}
.tabs .tab h2 {
  font-size: 1.5em;
}

.tabs input[type='radio']:checked + label + .tab {
  display: block;
}

.tabs input[type="radio"]:checked + label {
  background: lightgrey;
}

table {
  text-align: left;
  width: 70%;
}

table, th, td {
  border: 1px solid lightgrey;
}

table th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabplace label {
  display: inline-block;
  background-color: gainsboro;
  padding: 4px;
}

.tabplace input[type="radio"] {
  display:none;   
}

.tabplace input[type="radio"]:checked + label {
  border: solid 2px black;
}

.tabstyle label {
  display: inline-block;
  background-color: whitesmoke;
  padding: 4px;
}

.tabstyle input[type="radio"] {
  display:none;   
}

.tabstyle input[type="radio"]:checked + label {
  border: solid 2px black;
}
