{% extends "layout.html" %}
{% block title %}Muokkaa{% endblock %}
{% block content %}
{% if session.username %}

<p>Tee haluamasi muutokset tai vinkin poistaminen. Ehdotus lähetetään ylläpitäjien hyväksyttäviksi.</p>

<h2>Vinkin muuttaminen:</h2>
(Vinkin id-numero: {{ hint_id }})<br>
<form name="form" action="/confirm_change" method="POST" onsubmit="return check()">
  <label for="new_composer">Säveltäjä tai esittäjä:</label><br>
  <input type="text" name="new_composer" value="{{ composer }}" size="50"><br>

  <label for="new_name">Kappaleen nimi:</label><br>
  <input type="text" name="new_name" value="{{ name }}" size="50"><br>

  <label for="new_alternatives">Kappaleen vaihtoehtoiset kutsumanimet, esittäjät ym.:</label><br>
  <textarea name="new_alternatives" rows="3" cols="50">{{ alternatives }}</textarea><br>

  <label for="new_links">Verkko-osoite esim. äänitallenteeseen tai nuottia myyvälle sivustolle:</label><br>
  <textarea name="new_link1" rows="2" cols="50">{{ link1 }}</textarea><br>
  <textarea name="new_link2" rows="2" cols="50">{{ link2 }}</textarea><br>
  <textarea name="new_link3" rows="2" cols="50">{{ link3 }}</textarea><br>

  <p>Välilehdiltä näet, mihin kategorioihin kappale on sijoitettu.<br>
  Valitse haluamastasi tilaisuudesta vähintään yksi paikka musiikille ja tyylilaji.<br>
  <i>Älä valitse mitään siitä tilaisuudesta, mihin et sijoita kappaletta.</i></p>
  <div class="tabs">
    <input type="radio" id="tabwedding" name="tabs" checked="checked">
    <label for="tabwedding">Häät</label>
    <div class="tab">
      <h2>Häät</h2>
      <p><label for="place">Musiikin paikka tilaisuudessa: *</label><br>
      Valitse vähintään yksi.<br>
      <input type="checkbox" name="place1" value="1"{{ wed_places[0] }}>Häämarssi<br>
      <input type="checkbox" name="place1" value="2"{{ wed_places[1] }}>Vihkilaulu tai muu soitinmusiikki<br>
      <input type="checkbox" name="place1" value="3"{{ wed_places[2] }}>Virsi</p>
      <p><label for="style">Musiikkityyli: *</label><br>
      Valitse vähintään yksi.<br>
      <input type="checkbox" name="style1" value="1"{{ wed_styles[0] }}>Klassinen musiikki<br>
      <input type="checkbox" name="style1" value="2"{{ wed_styles[1] }}>Populäärimusiikki<br>
      <input type="checkbox" name="style1" value="3"{{ wed_styles[2] }}>Hengelliset laulut<br>
      <input type="checkbox" name="style1" value="4"{{ wed_styles[3] }}>Virret</p>
    </div>
        
    <input type="radio" id="tabfuneral" name="tabs">
    <label for="tabfuneral">Hautajaiset</label>
    <div class="tab">
      <h2>Hautajaiset</h2>
      <input type="hidden" name="occasion" value=2>
      <p><label for="place">Musiikin paikka tilaisuudessa: *</label><br>
      Valitse vähintään yksi.<br>
      <input type="checkbox" name="place2" value="1"{{ fun_places[0] }}>Alku- tai loppumusiikki<br>
      <input type="checkbox" name="place2" value="2"{{ fun_places[1] }}>Siunauslaulu tai muu soitinmusiikki<br>
      <input type="checkbox" name="place2" value="3"{{ fun_places[2] }}>Virsi</p>
      <p><label for="style">Musiikkityyli: *</label><br>
      Valitse vähintään yksi.<br>
      <input type="checkbox" name="style2" value="1"{{ fun_styles[0] }}>Klassinen musiikki<br>
      <input type="checkbox" name="style2" value="2"{{ fun_styles[1] }}>Populäärimusiikki<br>
      <input type="checkbox" name="style2" value="3"{{ fun_styles[2] }}>Hengelliset laulut<br>
      <input type="checkbox" name="style2" value="4"{{ fun_styles[3] }}>Virret</p>
    </div>        
  </div>
  <input type="submit" value="Muuta vinkkiä">
  <input type="hidden" name="hint_id" value={{ hint_id }}>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<h2>Vinkin poistaminen</h2>
<form name="formremove" action="/confirm_remove" method="POST" onsubmit="return checkreason()">
  <input type="hidden" name="composer" value="{{ composer }}">
  <input type="hidden" name="name" value="{{ name }}">
  <label for="reason">Perustelu vinkin poistamiselle (max. 1000 merkkiä) *:</label><br>
  <textarea name="reason" rows="5" cols="50"></textarea><br>
  <input type="hidden" name="hint_id" value={{ hint_id }}>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="submit" value="Poista vinkki">
</form>

<form action="/cancel" method="POST">
  <input type="submit" value="Peruuta">
</form>

<script>
  function check() {  
    if (document.forms["form"]["new_composer"].value == "") {
      alert("Lisää säveltäjä tai esittäjä.");
      return false;
    }
    if (document.forms["form"]["new_composer"].value.length > 100) {
      alert("Säveltäjän/esittäjän nimi on liian pitkä.");
      return false;
    }
    if (document.forms["form"]["new_name"].value == "") {
      alert("Lisää kappaleen nimi.");
      return false;
    }
    if (document.forms["form"]["new_name"].value.length > 100) {
      alert("Kappaleen nimi on liian pitkä.");
      return false;
    }
    if (document.forms["form"]["new_alternatives"].value.length > 500) {
      alert("Vaihtoehtoisissa tiedoissa on liikaa merkkejä.");
      return false;
    }
    if (document.forms["form"]["new_link1"].value.length > 200 || document.forms["form"]["new_link2"].value.length > 200 || document.forms["form"]["new_link3"].value.length > 200) {
      alert("Verkko-osoitteissa on liikaa merkkejä.");
      return false;
    }

    var result = document.getElementsByName("place1");
    var places1 = [];
    for (var i = 0; i < result.length; i++) {
      if (result[i].checked) {
        places1.push(result[i].value);
      }
    }
    var result = document.getElementsByName("style1");
    var styles1 = [];
    for (var i = 0; i < result.length; i++) {
      if (result[i].checked) {
        styles1.push(result[i].value);
      }
    }
    var result = document.getElementsByName("place2");
    var places2 = [];
    for (var i = 0; i < result.length; i++) {
      if (result[i].checked) {
        places2.push(result[i].value);
      }
    }
    var result = document.getElementsByName("style2");
    var styles2 = [];
    for (var i = 0; i < result.length; i++) {
      if (result[i].checked) {
          styles2.push(result[i].value);
      }
    }

    if (places1.length == 0 && styles1.length == 0 && places2.length == 0 && styles2.length == 0) {
      alert("Valitse kappaleelle kategoriat.");
      return false;
    }
    if ((places1.length >= 1 && styles1.length == 0) || (places1.length == 0 && styles1.length >= 1)) {
      alert("Tarkista kappaleen kategoriat.");
      return false;
    }
    if ((places2.length >= 1 && styles2.length == 0) || (places2.length == 0 && styles2.length >= 1)) {
      alert("Tarkista kappaleen kategoriat.");
      return false;
    }

    return true;
  }
</script>

<script>
  function checkreason() {  
    if (document.forms["formremove"]["reason"].value == "") {
      alert("Lisää perustelu vinkin poistamiselle.")
      return false
    }
    if (document.forms["formremove"]["reason"].value.length > 1000) {
      alert("Perustelu vinkin poistamiselle on liian pitkä.")
      return false
    }
  }
</script>
    
{% else %}
Vain rekisteröityneet käyttäjät voivat ehdottaa vinkin muuttamista tai poistamista.<br>
Voit siirtyä kirjautumaan <a href="/loginpage">tästä</a>.
{% endif %}
{% endblock %}