{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}

{% if session.username %}
<div class="profile-container">
  <div class="sidenav">
    <p><b>Oma profiili</b><br>
    {{ session.username }}</p>
    <nav>        
      <a href="/logout">Kirjaudu ulos</a><br>
      <a href="/change_password">Vaihda salasana</a><br>
      {% if admin %}
        <a href="/propositions">Vinkkiehdotukset
        {% if number > 0 %}
          ({{ number }})
        {% endif %}
        </a><br>
      {% endif %}
    </nav>
  </div>
  <div class="textarea">
    <h2>Vaihda salasana</h2>
    <form name="form" action="/save_password" method="POST" onsubmit="return check()">
      Nykyinen salasana: <input type="password" name="password">
      <p style="border-width:1px; border-style:solid; border-color:green; background: rgba(0, 128, 0, 0.1); padding: 1em; width: fit-content; font-size: smaller;">
        Salasanan tulee sisältää vähintään:<br>
        - kahdeksan merkkiä<br>
        - yksi pieni kirjain [a-ö]<br>
        - yksi iso kirjain [A-Ö]<br>
        - yksi numero välillä [0-9]<br>
        - yksi erikoismerkki
      </p>
      <p style="color:red;">{{ error }}</p>
      Uusi salasana: <input type="password" name="password1"><br>
      Salasana uudestaan: <input type="password" name="password2"><br>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
      <input type="submit" value="Vaihda salasanaa">
    </form>
  </div>
</div>

<script>
  function check() {  
    if (document.forms["form"]["password"].value == "") {
      alert("Kirjoita nykyinen salasana.");
      return false;
    }
    if (document.forms["form"]["password1"].value != document.forms["form"]["password2"].value) {
        alert("Salasanat eivät täsmää.");
        return false;
    }
    if (document.forms["form"]["password1"].value == "") {
      alert("Lisää uusi salasana.");
      return false;
    }
    if (document.forms["form"]["password1"].value.length > 100) {
      alert("Salasana on liian pitkä.");
      return false;
    return true;
    }
  }
</script>

{% endif %}
{% endblock %}