{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}

{% if session.username %}
<div class="profile-container">
  <div class="sidenav">
    <b>Oma profiili</b><br>
    {{ session.username }} 
    <nav>        
      <a href="/logout">Kirjaudu ulos</a><br>
      <a href="/change_password">Vaihda salasana</a><br>
      {% if admin %}
        <a href="/propositions">Vinkkiehdotukset
        {% if number > 0 %}
          ({{ number }})
        {% endif %}
        </a><br>
      {% endif %}
    </nav>
  </div>
  <div class="textarea">
    <h2>Vaihda salasana</h2>
  </div>
</div>
{% endif %}

{% endblock %}