{% extends "layout.html" %}
{% block title %}Käytänteet{% endblock %}
{% block content %}

<h2>Sivuston käytänteet</h2>
<p>
Sivusto pohjautuu Suomen evankelis-luterilaiseen kirkon vallallaan oleviin käytänteisiin.
Musiikkivinkit eivät saa olla ristiriidassa näiden käytänteiden kanssa.
<p>
Sivustolla pyritään kuitenkin laaja-alaiseen musiikkivalikoimaan,
ja kirkkoon sopiva musiikki voi tarkoittaa eri ihmisille eri asioita.<br>
Lopullisen päätöksen kappaleen sopivuudesta tekee yleensä tilaisuuden kanttori.
<p>
Kirjautuneet käyttäjät voivat ehdottaa uusia musiikkivinkkejä, muutoksia olemassa olevan vinkin tietoihin tai sen poistamista kokonaan, mikäli katsovat tämän olevan aiheellista.<br>
Ylläpitäjät tekevät päätökset ehdotusten hyväksymisestä.

{% endblock %}